extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p El Generador de Texto es un software que permite crear textos de forma rápida y flexible, con excelentes resultados. El El contenido suele crearse con la ayuda de un asistente humano, proporcionar al software palabras clave, títulos, párrafos, frases y otros indicaciones específicas.

                p Un generador de contenidos de IA es un software que utiliza inteligencia artificial para crear diversos tipos de contenidos, para su sitio web, para el SEO, para los blogs, para la escuela o para universidad. 

            .col-md-1
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluis")

        include ./layout/bloque_viajes

    .descuento
        .cotainer   
            .row
                .col-md-6
                    .contenido.text-center 
                        h3 %5 De Descuento
                        p.titulo Viaje a Canada
                        p.fecha Del 20 de Julio 2023 - Al 2 de Agosto 2023 
                        p.precio $1000 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales