extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet commodo ipsum, at commodo quam accumsan dapibus. Nullam sed massa et ligula tincidunt efficitur. Maecenas tincidunt lacus quis enim placerat dapibus. Integer ac dui consectetur, ultrices sem et,tristique orci. In gravida, leo vitae viverra placerat, ipsum sem maximus risus, vitae placerat augue nunc sed felis. Integer ac massa nec
                
                p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lobortis faucibus gravida. Sed tempor

                p Nullam ac dapibus ante, vel scelerisque eros. Suspendisse auctor consectetur tortor, sit amet iaculis elit varius dignissim. Pellentesque sed
               
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Viaja de forma segura con nosotros, seguros de viajes y reembolso garantizado.


                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Donec ac auctor metus, a vestibulum nisl. Nunc diam magna, accumsan eget volutpat sit amet, posuere at risus.


                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precio 
                    p Donec ac auctor metus, a vestibulum nisl. Nunc diam magna, accumsan eget volutpat sit amet, posuere at risus.     
                  


    